@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f9fafb;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Inter", sans-serif;
}

.color_pick_comp #rc-editable-input-1 {
  color: white !important;
  outline: none !important;
}

/* video position */
.top_left {
  top: 0;
  left: 2rem;
}

.bottom_left {
  bottom: 0;
  left: 2rem;
}

.top_right {
  top: 0;
  right: 2rem;
}

.bottom_right {
  bottom: 0;
  right: 2rem;
}

/* video button style */
.outlined {
  background-color: transparent !important;
}

[data-player] {
  border-radius: 1rem;
}

.ghost {
  background-color: transparent !important;
}

.link {
  text-decoration: underline;
  background-color: transparent !important;
}

.round {
  border-radius: 10px !important;
}

.square {
  border-radius: 0px !important;
}

/* video font style */
.Poppins {
  font-family: "Poppins", sans-serif;
}

.Roboto {
  font-family: "Roboto", sans-serif;
}

.bounce {
  animation: bounce2 2s ease infinite;
}

.reactEasyCrop_Container {
  -webkit-touch-callout: none !important; /* iOS Safari */
  -webkit-user-select: none !important; /* Safari, Chrome, Opera, Samsung */
  -khtml-user-select: none !important; /* Konqueror HTML */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* Edge, IE */
  user-select: none !important; /* Modern browsers */

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  user-select: none;
  touch-action: none;
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #999393;
}

.reactEasyCrop_Contain {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.reactEasyCrop_CropArea {
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  /* min-width: 168.75px;
  min-height: 168.75px; */
}

@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.ease-in {
  position: relative;
  animation: mymove 1s 1;
  animation-timing-function: ease-in;
}

@keyframes mymove {
  from {
    transform: translateY(-60px);
  }
  to {
    transform: translateY(0px);
  }
}

.pulse {
  animation: pulse 2s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.player_anim {
  animation: playerShow ease-in-out infinite;
}

@keyframes playerShow {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.cta_show {
  animation: ctaShow 3s ease-in-out 1;
}

@keyframes ctaShow {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.clappr_player_custom video,
.clappr_player_customm video {
  object-fit: cover;
}

.clappr_player_custom .play-wrapper,
.clappr_player_customm .play-wrapper {
  display: flex;
  justify-content: center;
}

.clappr_player_customm .play-wrapper {
  background-image: url("../../assets/images/playVideoIcon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.clappr_player_customm .play-wrapper svg {
  display: none !important;
}
