@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f9fafb;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Inter", sans-serif;
}

.color_pick_comp input {
  color: black !important;
  outline: none !important;
  background-color: white !important;
}

/* video position */
.top_left {
  top: 0;
  left: 2rem;
}

.bottom_left {
  bottom: 0;
  left: 2rem;
}

.top_right {
  top: 0;
  right: 2rem;
}

.bottom_right {
  bottom: 0;
  right: 2rem;
}

/* video button style */
.outlined {
  background-color: transparent !important;
}

.clappr_player_customm [data-player] {
  /* border-radius: 1rem; */
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.ghost {
  background-color: transparent !important;
}

.link {
  text-decoration: underline;
  background-color: transparent !important;
}

.round {
  border-radius: 10px !important;
}

.square {
  border-radius: 0px !important;
}

/* video font style start */
.Poppins {
  font-family: "Poppins", sans-serif;
}

.Roboto {
  font-family: "Roboto", sans-serif;
}

.Karla {
  font-family: "Karla", sans-serif;
}

.Nunito {
  font-family: "Nunito", sans-serif;
}

.Montserrat {
  font-family: "Montserrat", sans-serif;
}

.Inter {
  font-family: "Inter", sans-serif;
}

.SourceSansPro {
  font-family: "Source Sans Pro", sans-serif;
}

.Raleway {
  font-family: "Raleway", sans-serif;
}

.Rubik {
  font-family: "Rubik", sans-serif;
}

.Heebo {
  font-family: "Heebo", sans-serif;
}

.Arimo {
  font-family: "Arimo", sans-serif;
}

/* video font style end */

.bounce {
  animation: bounce2 2s ease infinite;
}

.reactEasyCrop_Container {
  -webkit-touch-callout: none !important; /* iOS Safari */
  -webkit-user-select: none !important; /* Safari, Chrome, Opera, Samsung */
  -khtml-user-select: none !important; /* Konqueror HTML */
  -moz-user-select: none !important; /* Firefox */
  -ms-user-select: none !important; /* Edge, IE */
  user-select: none !important; /* Modern browsers */

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  user-select: none;
  touch-action: none;
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #999393;
}

.reactEasyCrop_Contain {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.reactEasyCrop_CropArea {
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  /* min-width: 168.75px;
  min-height: 168.75px; */
}

@keyframes bounce2 {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.ease-in {
  position: relative;
  animation: mymove 1s 1;
  animation-timing-function: ease-in;
}

@keyframes mymove {
  from {
    transform: translateY(-60px);
  }
  to {
    transform: translateY(0px);
  }
}

.pulse {
  animation: pulse 2s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.player_anim {
  animation: playerShow ease-in-out infinite;
}

@keyframes playerShow {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.cta_show {
  animation: ctaShow 3s ease-in-out 1;
}

@keyframes ctaShow {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.clappr_player_custom video,
.clappr_player_customm video,
.small_clappr_player_custom video {
  object-fit: cover;
}

.squere_small_video .small_clappr_player_custom [data-player] {
  border-radius: 0.75rem;
}

.round_small_video [data-player] {
  /* width: 100% !important;
  height: 100% !important;
  max-height: 307px;
  max-width: 128px;
  overflow: hidden;
  border-radius: 999px; */
}

.round_small_video_wrap {
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.big_player,
.widget_share_player {
  -webkit-border-radius: 1rem;
  -khtml-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

@media (max-width: 767px) {
  .big_player [data-player] {
    width: 300px !important;
    height: 561px !important;
  }
}

@media (max-width: 575px) {
  .big_player {
    position: absolute !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    top: 1.5rem !important;
    bottom: 1.5rem !important;
    left: 1.5rem !important;
    right: 1.5rem !important;
    /* height: calc(100vh - 50px); */
    height: 100%;

    /* transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0); */

    /* position: -webkit-fixed !important;
    position: -moz-fixed !important;
    position: -ms-fixed !important;
    position: -o-fixed !important; */

    /* -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden; */
  }

  .big_player [data-player] {
    width: 100% !important;
    height: 100vh !important;
  }

  /* .progress_wrap {
    bottom: 7.5% !important;
  } */

  /* .player_wrap {
    height: 100%;
  } */
}

.clappr_player_custom .play-wrapper,
.clappr_player_customm .play-wrapper {
  display: flex;
  justify-content: center;
}

.clappr_player_customm .play-wrapper {
  background-image: url("../../assets/images/playVideoIcon.png");
  background-repeat: no-repeat;
  background-position: center;
}

.clappr_player_customm .play-wrapper svg,
.small_clappr_player_custom .play-wrapper svg {
  display: none !important;
}

.video_upload_loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  /* border-top: 10px solid #3498db; */
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.croper_wrapperr .cropper-crop-box,
.cropper-view-box {
  border-radius: 50%;
}
