@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback");

@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "custom/global.css";

@import "tailwindcss/utilities";

@import "react-toastify/dist/ReactToastify.css";

/* @layer utilities {
  .top_left {
    top: 0;
    left: 0.75rem;
  }

  .bottom_left {
    bottom: 0;
    left: 0.75rem;
  }
} */
